//All colors code 

$primary : #438ffe;
$bg-primary : #ffffff;
$bg-secondary : #f8f8f8;
$product-icon-color : #8bc38a;
$sells-icon-color : #8ac0c1;
$graph-color : #fe764b;
$row-bg-color: #f5f7f9;
$font-color: #abb1bf;
$primary-text-color:#160e4d;
$img-bg: #83bcbd;
$notification-color: #fe7e56;
$header-icon-shadow : #438ffe69;

//body color

$body-bg: $bg-secondary;
$body-text-color : $primary-text-color;

//sidebar color

$sidebar-bg: $bg-secondary;
$sidebar-active: $primary;
$sidebar-icon:$font-color;

//header color

$search-font-color: $font-color;
$search-bg-color: $row-bg-color;
$user-bg: $img-bg;
$notification-icon-color : $notification-color;

//table colors

$table-bgcolor : $bg-primary;
$table-row-color : $row-bg-color;

//icon color

$icon-color :(
    "views" : $primary,
    "product": $product-icon-color,
    "user": $primary,
    "sell": $sells-icon-color,
    "graph": $graph-color
);
