//All colors code 

$primary: #020603;
$yellow: #f9f8f3;
$green: #eefcef;
$purple: #f4f5f9;
$blue: #e6f5fa;
$orange: #ffefe2;

$success: $green;
$warning: $yellow;
$info: $purple;
$light: $blue;
$danger:$orange; 