//mixims are here

@mixin icon {
        color: $primary;
        color: #438ffe;
        font-size: $icon-font;

}

@mixin notification-upper-icon {
        content:".";
        position: absolute;
        background: $notification-icon-color;
        height: 5px;
        width: 5px;
        font-size: 0.5rem;
        border-radius: 50%;
}
