//mixims are here

@mixin icon {
        color: $primary;
        color: #438ffe;
        font-size: $icon-font;

}

@mixin notification-upper-icon {
        content:".";
        position: absolute;
        background: $notification-icon-color;
        height: 5px;
        width: 5px;
        font-size: 0.5rem;
        border-radius: 50%;
}

@mixin for-size($size) {
        @if $size == sm-size-phone {
          @media (max-width: 320px){ @content; } 
        }@else if $size == phone-only {
          @media (max-width: 575.98px) { @content; }
        } @else if $size == tablet-screen {
          @media (max-width: 767.98px) { @content; }
        } @else if $size == laptop-screen {
          @media (max-width: 991.98px) { @content; }
        } @else if $size == desktop-up {
          @media (max-width: 1200px) { @content; }
        } @else if $size == big-desktop-up {
          @media (max-width: 1800px) { @content; }
        }
      }