// All the SCSS Variables 

// Fonts
$font-size-base: 1rem;
$font-family: 'Josefin Sans', sans-serif;
$font-bold: 500;

// Border-radius
$border-radius: 12px;
$rounded-circle: 50%;
$border : 1px solid #e4e4e5;

//transition
$transition: all 0.4s ease-in-out;  

//icon-font
$icon-font : 1.4rem;
$mobile-font-size : 0.8rem;

//header-styles
$header-padding: 1rem 1.5rem;
$seach-margin-left : 4rem;
$search-font:  0.8rem;
$select-margin-left:16px;
$img-height : 42px;
$img-width:45px;

//mobile responsive image height and width
$mob-img-height: 30px;
$mob-img-width: 35px;
$mob-select-margin-left:10px;

//sidebar-style
$sidebar-padding: 1.5rem;
//inside element margins

$right-margin : 1.8rem;

//graph styles
$graph-padding : 0 0.5rem;
$bottom-padding : 20px;
$heights : (
    10: 10%,
    20: 20%,
    30: 30%,
    40: 40%,
    50: 50%,
    60: 60%,
    70: 70%,
    80: 80%,
    90: 90%);

