// All the SCSS Variables 

// Fonts
$font-size-base: 1rem;
$font-family: 'Josefin Sans', sans-serif;;
$font-bold: 500;

// Border-radius
$border-radius: 8px;
$rounded-circle: 50%;
$border : 1px solid $border;

//transition
$transition: all 0.4s ease-in-out;  

//icon-font
$icon-font : 1.4rem;
$mobile-font-size : 0.8rem;

//header-styles
$header-side-padding: 2rem;
$header-updown-padding : 1rem;
$img-height: 40px;
$img-width: 40px;
$img-bgcolor: $light-blue;

//sidebar-style
$padding: 1.5rem;

