// All the SCSS Variables 

// Fonts
$font-size-base: 1rem;
$font-family: 'Josefin Sans', sans-serif;
$font-bold: 500;

// Border-radius
$border-radius: 12px;
$rounded-circle: 50%;
$border : 0.1rem solid #e4e4e5;

//icon-font
$icon-font : 1.4rem;
//header-styles
$header-padding: 1rem;
$seach-margin-left : 4rem;
$search-font:  0.8rem;
$select-margin-left:16px;
$img-height : 42px;
$img-width:45px;

//sidebar-style
$sidebar-padding: 1.5rem;

