.dashboard-container {
  background-color: $bg-secondary;
  padding: 2rem;
  color: $primary-text-color;
  overflow-y: hidden;
}

@media (max-width: 1180px) {
  .dashboard-container {
      overflow-y: auto;
    }
  }
