// header component styles are here

.header-wrapper{
    // height: $header-height;
    align-items: center;
    padding: $header-padding;
    border-bottom: $border;
    & .header-icon{
        @include icon;
        & i{
            box-shadow: 8px -7px $header-icon-shadow;
        }
    }

    & .search-wrapper{
        margin-left: $seach-margin-left;
        & input{
            background-color: $search-bg-color;
            outline: none;
            padding: 12px 25px;
            font-size: $search-font;
            color: $search-font-color;
            border: none;
            width: 360px;
        }

        & button{
            border: none;
            padding: 12px;
            margin-left:  -4px;
            background-color: $primary;
            color: $font-color;
        }
    }
    & .option {
        margin-left: 2rem;
        & figure{
            display: inline-block;
            background-color: $user-bg;
            border-radius: $rounded-circle;    

            & img{
                height: $img-height;
                width: $img-width;
            }    
        }

        & select{
            border: none;
            color: $search-font-color;
            margin-left: $select-margin-left;
            margin-right: 40px;
        }

    }
    & .option-icon{
        position: relative;
        @include icon;
        color: $sidebar-icon-color;

        .message::after{
            @include notification-upper-icon;
        }
        .bell::after{
            @include notification-upper-icon;
        }
    }
    
}

@media (max-width: 360px) {
    .header-wrapper{
        & .search-wrapper{
            & .icon-search{
                top: 22px;
                left: 68px;
            }
            & input{
                padding-left:20px;
                width: 70px;
            }
            & button{
                background-color: aqua;
                display: none;
            }
        }
        & .option {
            margin-left: 0.6rem;
            & figure{ 
                & img {
                    height: $mob-img-height;
                    width: $mob-img-width;    
                }
            }
            & select{
                margin-left: 0;
                margin-right: 0;
            }

        }
        & .option-icon{
            font-size: $mobile-font-size;
        }

    }
} 
@media (max-width: 575.98px) { 

    .header-wrapper{
        & .search-wrapper{
            & .icon-search{
                top: 26px;
                left: 76px;
            }
            & input{
                width: 250px;
            }
            & button{
                background-color: aqua;
                display: none;
            }
        }
        & .option {
            margin-left: 0.6rem;
            & figure{ 
                & img {
                    height: $mob-img-height;
                    width: $mob-img-width;    
                }
            }
            & select{
                margin-left: 0;
                margin-right: 0;
            }
        }
        & .option-icon{
            font-size: $mobile-font-size;
        }

    }
 }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { 
    .header-wrapper{
        & .search-wrapper{
            & button{
                background-color: aqua;
                display: none;
            }
        }
        & .option {
            margin-left: 0.6rem;
            & figure{ 
                & img {
                    height: $mob-img-height;
                    width: $mob-img-width;    
                }
            }
            & select{
                margin-left: 0;
                margin-right: 0;
            }
        }
        & .option-icon{
            font-size: $mobile-font-size;
        }
    }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { }

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) { }