#toggle{
    display: none;
}
.sidebar{
    padding: $sidebar-padding;
    position: relative;
    & .link-wrapper
    {
        
        margin: 1.7rem 0;
    }
    & .top-link {
        margin-top: 0;
    }
    & .nav-link{
        @include icon;
        color: $sidebar-icon-color;
    }
    & .icon-forward{
        position: absolute;
        padding: 0;
        top: 33rem;
        left:4.7rem;
    }
   
}   

#toggle:checked +.sidebar{
    transform: translateX(-70px);
    padding: 0;
    transition: all 1s ease-in-out;
    width: 0;

    & .icon-forward{
        position: absolute;
        transform: rotate(180deg);
    }
}
#toggle:not(:checked) +.sidebar{
    transition: all 1s ease-in-out;
}

@media (max-width: 360px) {
    .sidebar{
        transform: translateX(-70px);
    }
    #toggle:checked +.sidebar{
        transform: translateX(30px);
    }
}

@media (max-width: 575.98px) { 
    .sidebar{
        transform: translateX(-70px);
        width: 0;
        padding: 0;
    }
    #toggle:checked +.sidebar{
        transform: translateX(30px);
    }
}