#toggle{
    display: none;
}
.sidebar{
    padding: $sidebar-padding;
    height: 100%;
    position: relative;
    & .link-wrapper
    {
        
        margin: 1.7rem 0;
    }
    & .top-link {
        margin-top: 0;
    }
    & .nav-link{
        @include icon;
        color: $font-color;
    }
    & .icon-forward{
        position: absolute;
        padding: 3.5px;
        top: 50%;
        left:4.7rem;
        transform: rotate(180deg);
        transition: $transition;
        color: $primary-text-color;
        border: 1px solid $primary-text-color;
        border-radius: 50%;
    }
   
}   

#toggle:checked +.sidebar{
    transform: translateX(-70px);
    padding: 0;
    transition: $transition;
    width: 0;

    & .icon-forward{
        
        transform: rotate(0deg);
        transition: $transition
    }
}
#toggle:not(:checked) +.sidebar{
    transition: $transition;
}


@include for-size(phone-only){
    #toggle:checked +.sidebar{
            
            transform: translateX(0);
            width: 70%;
            background-color: $primary;
            position: absolute;
            z-index: 10;
            padding: 0;

        & .nav-link{
            color: $bg-primary;
        }
        & .icon-forward{
            left: 100%;            
            transform: rotate(180deg);
            transition: $transition;
        }
    }
    #toggle:not(:checked) +.sidebar{
        position: absolute;
        transform: translateX(-70px);
        padding: 0;
        width: 0;     
        justify-content: center; 
        
        & .icon-forward{
            transform: rotate(0deg);
        }
    }

}