/**
* @title : Scss Dashboard
* @author : Sneha Mistry
*/
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;700&display=swap");
.views-color {
  color: #438ffe;
}

.views-bg {
  background-color: #438ffe;
}

.card-views .card-icon-bg {
  background-color: #dbeaff;
}

.card-views .icon {
  color: #438ffe;
}

.card-views.inner-card:hover {
  background-color: #438ffe;
  color: #ffffff;
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
}

.card-views.inner-card:hover .card-icon-bg {
  background-color: #6ca7fe;
}

.card-views.inner-card:hover .icon {
  color: #ffffff;
}

.card-views.inner-card:hover .icon-timeline {
  color: #ffffff;
}

.product-color {
  color: #8bc38a;
}

.product-bg {
  background-color: #8bc38a;
}

.card-product .card-icon-bg {
  background-color: #eff7ef;
}

.card-product .icon {
  color: #8bc38a;
}

.card-product.inner-card:hover {
  background-color: #8bc38a;
  color: #ffffff;
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
}

.card-product.inner-card:hover .card-icon-bg {
  background-color: #a6d1a5;
}

.card-product.inner-card:hover .icon {
  color: #ffffff;
}

.card-product.inner-card:hover .icon-timeline {
  color: #ffffff;
}

.user-color {
  color: #438ffe;
}

.user-bg {
  background-color: #438ffe;
}

.card-user .card-icon-bg {
  background-color: #dbeaff;
}

.card-user .icon {
  color: #438ffe;
}

.card-user.inner-card:hover {
  background-color: #438ffe;
  color: #ffffff;
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
}

.card-user.inner-card:hover .card-icon-bg {
  background-color: #6ca7fe;
}

.card-user.inner-card:hover .icon {
  color: #ffffff;
}

.card-user.inner-card:hover .icon-timeline {
  color: #ffffff;
}

.sell-color {
  color: #8ac0c1;
}

.sell-bg {
  background-color: #8ac0c1;
}

.card-sell .card-icon-bg {
  background-color: #eef6f6;
}

.card-sell .icon {
  color: #8ac0c1;
}

.card-sell.inner-card:hover {
  background-color: #8ac0c1;
  color: #ffffff;
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
}

.card-sell.inner-card:hover .card-icon-bg {
  background-color: #a5cecf;
}

.card-sell.inner-card:hover .icon {
  color: #ffffff;
}

.card-sell.inner-card:hover .icon-timeline {
  color: #ffffff;
}

.graph-color {
  color: #fe764b;
}

.graph-bg {
  background-color: #fe764b;
}

.card-graph .card-icon-bg {
  background-color: #ffeae3;
}

.card-graph .icon {
  color: #fe764b;
}

.card-graph.inner-card:hover {
  background-color: #fe764b;
  color: #ffffff;
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
}

.card-graph.inner-card:hover .card-icon-bg {
  background-color: #fe9574;
}

.card-graph.inner-card:hover .icon {
  color: #ffffff;
}

.card-graph.inner-card:hover .icon-timeline {
  color: #ffffff;
}

.h-15 {
  height: 15%;
}

.h-10 {
  height: 10%;
}

.h-25 {
  height: 25%;
}

.h-20 {
  height: 20%;
}

.h-35 {
  height: 35%;
}

.h-30 {
  height: 30%;
}

.h-45 {
  height: 45%;
}

.h-40 {
  height: 40%;
}

.h-55 {
  height: 55%;
}

.h-50 {
  height: 50%;
}

.h-65 {
  height: 65%;
}

.h-60 {
  height: 60%;
}

.h-75 {
  height: 75%;
}

.h-70 {
  height: 70%;
}

.h-85 {
  height: 85%;
}

.h-80 {
  height: 80%;
}

.h-95 {
  height: 95%;
}

.h-90 {
  height: 90%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  line-height: 1;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-auto {
  overflow-y: auto;
}

.mt-0 {
  margin-top: 0;
}

.font-family {
  font-family: "Josefin Sans", sans-serif;
}

.relative {
  position: relative;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.d-block {
  display: block;
}

.row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-space-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.justify-space-evenly {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.justify-align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.grow-1 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.graph-p {
  padding: 0 0.5rem;
}

.graph-bm {
  margin-bottom: 20px;
}

.card-wrapper {
  margin: 1rem -1rem;
}

.card {
  width: 25%;
  color: #abb1bf;
}

.card .inner-card {
  margin: 1rem;
  padding: 1rem;
  height: 100%;
  background-color: #ffffff;
}

.card .inner-card .card-icon {
  height: 60px;
  width: 60px;
}

.card .inner-card .card-icon i {
  font-size: 1.4rem;
}

.card .inner-card .card-timeline {
  width: 68px;
}

.card .inner-card .card-timeline #rotate-eye {
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
}

.card .inner-card .card-timeline #rotate-product {
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}

.card .inner-card .card-timeline #rotate-user {
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
}

.card .inner-card .card-timeline #rotate-sell {
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
}

.card .inner-card .card-timeline i {
  font-size: 3.5rem;
}

.card .inner-card .card-content {
  margin-top: 1.5rem;
}

.card .inner-card .card-content .content-font {
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  font-size: 2rem;
  color: #160e4d;
}

.card .inner-card .card-content .content-detail {
  border-top: 1px solid #e4e4e5;
  padding-top: 0.8rem;
  font-size: 0.8rem;
}

@media (max-width: 991.98px) {
  .card {
    width: 50%;
  }
}

@media (max-width: 767.98px) {
  .card {
    width: 50%;
  }
}

@media (max-width: 575.98px) {
  .card {
    width: 100%;
  }
}

@media (max-width: 320px) {
  .card {
    width: 100%;
  }
}

.icon-search {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin-left: 0.5rem;
  font-size: 1rem;
  color: #abb1bf;
}

.product-img {
  height: 50px;
  width: 65px;
}

.view-order {
  overflow-y: hidden;
}

.order-details {
  background-color: #ffffff;
  margin-right: 1.8rem;
  padding: 1.5rem;
  width: 60%;
}

.order-details .table {
  position: relative;
  border-spacing: 0 15px;
}

.order-details .table thead {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
}

.order-details .table td, .order-details .table th {
  text-align: left;
  padding-right: 20px;
}

.order-details .table td {
  border-collapse: collapse;
  background-color: #f5f7f9;
}

.order-details .table td:nth-child(4) {
  color: #438ffe;
}

.order-details .table .product-name {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (max-width: 991.98px) {
  .view-order {
    display: block;
    margin-top: 2rem;
    overflow: unset;
  }
  .view-order .order-details {
    width: 100%;
  }
  .view-order .order-graph {
    margin-top: 2rem;
    width: 100%;
    overflow-y: auto;
  }
}

.order-graph {
  padding: 1.5rem;
  width: 40%;
  background-color: #ffffff;
}

.order-graph .graph-wrapper {
  height: 75%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.order-graph .graph {
  height: 90%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.order-graph .x-name {
  margin-top: 1rem;
  color: #abb1bf;
}

.graph-heading {
  margin-bottom: 1.5rem;
}

#selectweek {
  color: #abb1bf;
}

.y-name {
  margin-top: 3rem;
  color: #abb1bf;
}

@media (max-width: 991.98px) {
  .order-graph {
    height: 50%;
  }
  .y-name {
    margin-top: 3.5rem;
  }
}

.header-wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid #e4e4e5;
}

.header-wrapper .header-icon {
  color: #438ffe;
  color: #438ffe;
  font-size: 1.4rem;
}

.header-wrapper .search-wrapper {
  margin-left: 4rem;
}

.header-wrapper .search-wrapper input {
  background-color: #f5f7f9;
  outline: none;
  padding: 12px 25px;
  font-size: 0.8rem;
  border: none;
  width: 360px;
}

.header-wrapper .search-wrapper ::-webkit-input-placeholder {
  color: #abb1bf;
}

.header-wrapper .search-wrapper :-ms-input-placeholder {
  color: #abb1bf;
}

.header-wrapper .search-wrapper ::-ms-input-placeholder {
  color: #abb1bf;
}

.header-wrapper .search-wrapper ::placeholder {
  color: #abb1bf;
}

.header-wrapper .search-wrapper button {
  border: none;
  padding: 12px;
  margin-left: -4px;
  background-color: #438ffe;
  color: #ffffff;
}

.header-wrapper .option {
  margin-left: 2rem;
}

.header-wrapper .option figure {
  display: inline-block;
  background-color: #83bcbd;
  border-radius: 50%;
}

.header-wrapper .option figure img {
  height: 42px;
  width: 45px;
}

.header-wrapper .option select {
  border: none;
  color: #abb1bf;
  margin-left: 16px;
}

.header-wrapper .option-icon {
  position: relative;
  color: #438ffe;
  color: #438ffe;
  font-size: 1.4rem;
  color: #abb1bf;
}

.header-wrapper .option-icon .message::after {
  content: ".";
  position: absolute;
  background: #fe7e56;
  height: 5px;
  width: 5px;
  font-size: 0.5rem;
  border-radius: 50%;
}

.header-wrapper .option-icon .bell::after {
  content: ".";
  position: absolute;
  background: #fe7e56;
  height: 5px;
  width: 5px;
  font-size: 0.5rem;
  border-radius: 50%;
}

@media (max-width: 767.98px) {
  .header-wrapper .search-wrapper button {
    background-color: aqua;
    display: none;
  }
  .header-wrapper .option {
    margin-left: 0.6rem;
  }
  .header-wrapper .option figure img {
    height: 30px;
    width: 35px;
  }
  .header-wrapper .option select {
    margin-left: 0;
    margin-right: 0;
  }
  .header-wrapper .option-icon {
    font-size: 0.8rem;
  }
}

@media (max-width: 575.98px) {
  .header-wrapper .search-wrapper input {
    width: 250px;
  }
  .header-wrapper .search-wrapper button {
    background-color: aqua;
    display: none;
  }
  .header-wrapper .option {
    margin-left: 0.6rem;
  }
  .header-wrapper .option figure img {
    height: 30px;
    width: 35px;
  }
  .header-wrapper .option select {
    margin-left: 0;
    margin-right: 0;
  }
  .header-wrapper .option-icon {
    font-size: 0.8rem;
  }
}

@media (max-width: 320px) {
  .header-wrapper .search-wrapper {
    margin-left: 10px;
  }
  .header-wrapper .search-wrapper input {
    padding-left: 20px;
    width: 70px;
  }
  .header-wrapper .search-wrapper button {
    background-color: aqua;
    display: none;
  }
  .header-wrapper .option {
    margin-left: 0.6rem;
  }
  .header-wrapper .option figure img {
    height: 30px;
    width: 35px;
  }
  .header-wrapper .option select {
    margin-left: 0;
    margin-right: 0;
  }
  .header-wrapper .option-icon {
    font-size: 0.8rem;
  }
}

#toggle {
  display: none;
}

.sidebar {
  padding: 1.5rem;
  height: 100%;
  position: relative;
}

.sidebar .link-wrapper {
  margin: 1.7rem 0;
}

.sidebar .top-link {
  margin-top: 0;
}

.sidebar .nav-link {
  color: #438ffe;
  color: #438ffe;
  font-size: 1.4rem;
  color: #abb1bf;
}

.sidebar .icon-forward {
  position: absolute;
  padding: 3.5px;
  top: 50%;
  left: 4.7rem;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  color: #160e4d;
  border: 1px solid #160e4d;
  border-radius: 50%;
}

#toggle:checked + .sidebar {
  -webkit-transform: translateX(-70px);
          transform: translateX(-70px);
  padding: 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  width: 0;
}

#toggle:checked + .sidebar .icon-forward {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#toggle:not(:checked) + .sidebar {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

@media (max-width: 575.98px) {
  #toggle:checked + .sidebar {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    width: 70%;
    background-color: #438ffe;
    position: absolute;
    z-index: 10;
    padding: 0;
  }
  #toggle:checked + .sidebar .nav-link {
    color: #ffffff;
  }
  #toggle:checked + .sidebar .icon-forward {
    left: 100%;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  #toggle:not(:checked) + .sidebar {
    position: absolute;
    -webkit-transform: translateX(-70px);
            transform: translateX(-70px);
    padding: 0;
    width: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #toggle:not(:checked) + .sidebar .icon-forward {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.dashboard-container {
  background-color: #f8f8f8;
  padding: 2rem;
  color: #160e4d;
  overflow-y: hidden;
}

@media (max-width: 1180px) {
  .dashboard-container {
    overflow-y: auto;
  }
}

.text-center {
  text-align: center;
}

.text-decoration-none {
  text-decoration: none;
}

select {
  border: none;
  background-color: transparent;
}

h4 {
  font-weight: unset;
}
/*# sourceMappingURL=scss.css.map */