//card styles are here
.card-wrapper{
    margin: 1rem -1rem;
}
.card{
    width: 25%;
    height: 235px;
    & .inner-card{
        margin: 1rem;
        padding: 1rem;
        height: 100%;
        background-color: $bg-primary;

        & .card-icon{
            height: 60px;
            width: 60px;

            i{
                font-size: $icon-font;
            }
        }

        & .card-timeline{
            width: 68px;
            #rotate-eye{
                transform: rotate(-20deg);                
            }
            #rotate-product{
                transform: rotate(60deg);
            }
            #rotate-user{
                transform: rotate(-20deg);
            }
            #rotate-sell{
                transform: rotate(-20deg);
            }
           i{
                font-size: 3.5rem;
            }
        }
        
        & .card-content{
            margin-top: 1.5rem;

            div>h4{
                font-size: 0.9rem;
            }

            .content-font{
                padding-top: 1rem;
                padding-bottom: 1.5rem;
                font-size: 2rem;
            }
            .content-detail{
                border-top: $border;
                // margin-top: 1rem;
                padding-top: 0.8rem;
                font-size: 0.8rem;
            }
        }
    }
}


@media (max-width: 767px) { 
    .card{
        width: 50%;
    }
}

@media (max-width:  530.98px) { 
    .card{
        width: 50%;
    }
}

@media (max-width: 450px) {
    .card{
        width: 100%;
    }
}