//graph styles here

.order-graph{
    padding: 1.5rem;
    width: 40%;
    background-color: $bg-primary;

    & .graph-wrapper
    {
        height: 75%;
        align-items: flex-end;        
    }
    .graph{
        height: 90%;
        align-items: flex-end;
    }
    .x-name{
        margin-top: 1rem;
        color: $font-color;
    }
}   
.graph-heading{
    margin-bottom: 1.5rem;
}

#selectweek{
    color: $font-color;
}

.y-name{
    margin-top: 3rem;
    color: $font-color;
}

@include for-size(laptop-screen)
{
    .order-graph{
        height: 50%;
    }
    .y-name{
        margin-top: 3.5rem;
    }
}