.sidebar{
   flex: 0 0 $sidebar-width;
   overflow: hidden;
   white-space: nowrap;
   transition: all $transition ease-in-out;
}

.nav-link{
    border-left: $navlink-border solid transparent;
    &:hover,
    &:active
     {
        border-left: $navlink-border solid $dark;
   }
}
.icon{
   display: inline-block;
}

#toggle:checked +.sidebar{

   flex: 0 0 50px;
   transition: all $transition ease-in;
   .brand-icon{
      transform: translateX(-12px);
      transition: all $transition ease-in;
   }

   .icon{
      transform: translateX(-18px);
      transition: all $transition ease-in;
   }

   .user-info{
      display: none;
   }

}
