.nav-link{
    border-left: $navlink-border solid transparent;
    &:hover,
    &:active
     {
        border-left: $navlink-border solid $dark;
   }
}
.icon{
   display: inline-block;
}

#toggle:checked +.sidebar{

   transform: translateX(-200px);

   .icon{
      transform: translateX(-34px);
   }

}

#toggle:not(:checked) +.sidebar{

   transform: translateX(0px);

   &.icon{
      transform: translateX(15px);
   }

}