// table styles are here

.order-details{
    background-color: $table-bgcolor;
    margin-right: 1rem;
    padding: 0.5rem;
    
    .table{
        // border-collapse: collapse;
        border-spacing:0 15px;

            td{
                border-collapse: collapse;
                text-align:center;
                background-color: $table-row-color;
            }

            td:nth-child(0,1)
            {
                width: 10%;
            }

            td:nth-child(5)
            {
                width: 15%;
            }

    }
}