// table styles are here

.order-details{
    background-color: $table-bgcolor;
    margin-right: $right-margin;
    padding: 1.5rem;
    width: 60%;
    
    .table{
        // border-collapse: collapse;
        border-spacing:0 15px;
            td,th{
                text-align: left;
                padding: 0.7rem;
            }
            td{
                border-collapse: collapse;
                background-color: $table-row-color;
            }
            th:nth-child(1),td:nth-child(1){
                width: 5%;
            }
            th:nth-child(3),td:nth-child(3)
            {
                width: 35%;
            }
            th:nth-child(4),td:nth-child(5)
            {
                width: 15%;
            }
            th:nth-child(5),td:nth-child(5)
            {
                width: 10%;
            }
            th:nth-child(6),td:nth-child(6){
                width: 10%;
            }
            td:nth-child(4){
                color: $primary;
            }

    }
}