// table styles are here

.view-order{
    overflow-y: hidden;
}
.order-details{
    background-color: $table-bgcolor;
    margin-right: $right-margin;
    padding: 1.5rem;
    width: 60%;
    
    .table{
        position: relative;
        border-spacing:0 15px;

            & thead{
                position: sticky;
                top: 0;
                left: 0;
                right: 0;
                background-color: white;
            }
            td,th{
                text-align: left;
                padding-right: 20px;
            }
            td{
                border-collapse: collapse;
                background-color: $table-row-color;
            }
            td:nth-child(4){
                color: $primary;
            }
            .product-name{
                max-width: 100px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

    }
}
@include for-size(laptop-screen) {
    .view-order {
        display: block;
        margin-top: 2rem;
        overflow: unset; 
        & .order-details {
          width: 100%;
        }
        & .order-graph {
          margin-top: 2rem;
          width: 100%;
          overflow-y: auto;
        }
      }
}

  