//Text classes
.text-center{
    text-align: center;
}

.text-decoration-none{
    text-decoration: none;
}

//Font classes

.font-bold{
    font-weight: bold;
}

.font-family{
    font-family: $font-family;
}