@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ogg831');
  src:  url('fonts/icomoon.eot?ogg831#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ogg831') format('truetype'),
    url('fonts/icomoon.woff?ogg831') format('woff'),
    url('fonts/icomoon.svg?ogg831#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-square_icon:before {
  content: "\e90d";
  color: #1271ff;
}
.icon-ant-design_message-outlined:before {
  content: "\e900";
}
.icon-bi_cart-dash-fill:before {
  content: "\e901";
}
.icon-bi_eye-fill:before {
  content: "\e902";
}
.icon-ci_settings-filled:before {
  content: "\e903";
}
.icon-ep_warning-filled:before {
  content: "\e904";
}
.icon-fa6-solid_bag-shopping:before {
  content: "\e905";
}
.icon-fa6-solid_user-group:before {
  content: "\e906";
}
.icon-fluent_notepad-20-filled:before {
  content: "\e907";
}
.icon-octicon_sign-out-16:before {
  content: "\e908";
}
.icon-ph_bell:before {
  content: "\e909";
}
.icon-radix-icons_dashboard:before {
  content: "\e90a";
  color: #1271ff;
}
.icon-search:before {
  content: "\e90c";
}
.icon-timeline:before {
  content: "\e90b";
}
.icon-forward:before {
  content: "\f04e";
}
.icon-stop2:before {
  content: "\ea1e";
}
